* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftColumn {
  float: left;
  width: 65%;
}

.rightColumn {
  float: left;
  width: 35%;
  padding-left: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 #888888;
  
}
 
.commentCard {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}
.commentCard .userName {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #4676a4;
  font-weight: bold;
}
.commentCard .commentDate {
  float: right;
  background: #FFF;
  font-size: 11px;
  padding: 0 5px;
  margin: 3px;
  color:  #4676a4;
}
.commentCard p {
  margin: 0; 
  padding: 0;
}


.container {
  max-width: 85em;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.popularList {
  list-style-type: none;
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
}
.popularList li {
  padding:8px 16px;
  border-bottom:1px solid #ddd;
}
.popularList li:last-child {
  border-bottom:none;
}
.popularList li:hover {
  background: #777777;
}

.tag {
  background-color:#e5e5e5;
  color: #000;
  margin-bottom: 16px;
  margin-right: 10px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size:12px;
}


/* Make columns responsive */
@media screen and (max-width: 1000px) {
  .leftColumn, .rightColumn {   
      width: 100%;
      padding: 0;
  }
}