* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftColumn {
  float: left;
  height: 100px;
  width: 75%;
}

.rightColumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow:0 2px 5px 0;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.popularList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.popularList li {
  padding:8px 16px;
  border-bottom:1px solid #ddd;
}
.popularList li:last-child {
  border-bottom:none;
}

.tag {
  background-color:#e5e5e5;
  color: #000;
  margin-bottom: 16px;
  margin-right: 10px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size:12px;
}

/* Make columns responsive */
@media screen and (max-width: 800px) {
  .leftColumn, .rightColumn {   
      width: 100%;
      padding: 0;
  }
}